<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.auth0.com/ulp/react-components/1.85.61/css/main.cdn.min.css">
    <style id="custom-styles-container">
          :root {
    --box-border-color: #c9cace;
  }
          html, :root {
    font-size: 16px;
    --default-font-size: 16px;
  }
          :root {
    --box-border-width: 1px;
  }
          body {
    --page-background-color: #F9F9FA;
  }
    </style>
    <title>Title</title>
</head>
<body class="_widget-auto-layout">
    <div class="header-wrapper">
      <header>
        <nav>
          Don't have an account?
          <a href="https://hub.docker.com/signup?state=hKFo2SBLMHMwTnNOSERkLTVuLWFOb1hsMzdzT3h2ZVdXRjNNZKFur3VuaXZlcnNhbC1sb2dpbqN0aWTZIEVfM1ktU2lQU3l6NDFXT0dUTlVXd2pNR1ZRcFpmQ1hso2NpZNkgbHZlOUdHbDhKdFNVcm5lUTFFVnVDMGxiakhkaTluYjk" id="signup">Sign Up</a>
        </nav>
      </header>
    </div>
    <div class="content">
        <main class="_widget login-id">
  <section class="c4b29eca4 _prompt-box-outer c05e9daa5">
    <div class="c6659f309 cccb93873">
      <div>
        <header class="cf2c263ec c3b965638">
          <div title="Docker" id="custom-prompt-logo" style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
            <h1 class="cc854c13c c8b064d01">Sign in</h1>
          <div class="c3796a4db c0ba659d6">
            <p class="c83b79980 c2fd98237">Sign in to Visualize Page.</p>
          </div>
        </header>
        <div class="ce16dfdb7 cfc0cd1f7">
            <div class="c925c2b03 cbb3754db">
              <div class="c7f2d18c1">
                <form method="POST" class="ca7b0a1f8 _form-login-id" data-form-primary="true">

                  <div class="c925c2b03 cbb3754db">
                    <div class="c7f2d18c1">

                        <div class="input-wrapper _input-wrapper">
                          <div class="ccd761bda c9104f547 text ca9add931 c510d718d cdb9bc653" data-action-text="" data-alternate-action-text="">
                            <label class="cf7a8e814 no-js c1ea92e47 c4c3ef09d" for="username">
                              Username or email address
                            </label>
                            <input class="input c0347a5e6 cce001ae5 _ar_hide_" inputmode="email" name="username" id="username" type="text" value="" required="" autocomplete="username" autocapitalize="none" spellcheck="false" autofocus="" _ar_hide_="width:318.4px;height:52px;margin:0px;position:static;display:block;">
                            <div class="cf7a8e814 js-required c1ea92e47 c4c3ef09d" data-dynamic-label-for="username">
                              Username or email address
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <div class="c925c2b03 cbb3754db">
                    <div class="c7f2d18c1">

                        <div class="input-wrapper _input-wrapper">
                          <div class="ccd761bda c9104f547 text ca9add931 c510d718d cdb9bc653" data-action-text="" data-alternate-action-text="">
                            <label class="cf7a8e814 no-js c1ea92e47 c4c3ef09d" for="password">
                              Password
                            </label>
                            <input class="input c0347a5e6 cce001ae5 _ar_hide_" inputmode="password" name="password" id="password" type="text" value="" required="" autocomplete="password" autocapitalize="none" spellcheck="false" autofocus="" _ar_hide_="width:318.4px;height:52px;margin:0px;position:static;display:block;">
                            <div class="cf7a8e814 js-required c1ea92e47 c4c3ef09d" data-dynamic-label-for="password">
                              Password
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="cb2df1009">

                      <button type="submit" name="action" value="default" class="c27976896 c59c30c43 cced51fe7 c5e1937d6 _button-login-id" data-action-button-primary="true">Continue</button>

                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
</div>
</body>
</html>